<div class="jumbotron mt-4">
    <h1 class="title">App notes</h1>
    <p class="paragraph">Notes app created with the following stack</p>
    <ul class="index-content">
    <h2 class="index-content__title">Frondend</h2>
        <li class="index-content__item">
            <a class="index-content__link" href="https://handlebarsjs.com/">
                handlebarsjs
            </a>
            <p class="index-content__paragraph" >
                Used as HTML compiler
            </p>
        </li>
    </ul>
    <ul class="index-content">
    <h2 class="index-content__title">Backend</h2>
        <li class="index-content__item">
            <a class="index-content__link" href="https://nodejs.org/en/">
                Nodejs
            </a>
            <p class="index-content__paragraph" >
                Used As a runtime environment for the server leyer
            </p>
        </li>
    </ul>
  <ul class="index-content">
    <h3 class="index-content__title">Framework</h3>
        <li class="index-content__item">|
            <a class="index-content__link" href="https://expressjs.com/">
                Express
            </a>
            <p class="index-content__paragraph" >
                Used as backend web application framework for Node.js
            </p>
        </li>
    </ul>
</div>