
<div class="jumbotron mt-4">
    <h1 class="title">Notes App Nodejs and Mongodb</h1>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum, placeat.</p>
    <hr class="my-4">
    <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit saepe perspiciatis dolore voluptas, harum
        repudiandae, nam nemo provident voluptate quasi est beatae corporis nostrum sed exercitationem nobis ullam natus
        cumque.
    </p>
    <a href="https://github.com/miltondw" target="_blank" class="btn btn-primary">Miltondw</a>
</div>