<form class="form" action="/users/signin" method="POST">
    <h2 class="form__title">Account Login</h2>
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password" >
    <button type="submit" class="btn btn-primary">
        SignUp
    </button>
</form>