<form class="form" action="/users/signup" method="POST">
    <h2 class="form__title">Account Register</h2>
    <input name="name" autofocus placeholder="Name" value="{{name}}">
    <input type="email" name="email" placeholder="Email" value="{{email}}">
    <input type="password" name="password" placeholder="Password" value="{{password}}">
    <input type="password" name="confirm_password" placeholder="Confirm Password" value="{{confirm_password}}">
    <button type="submit" class="btn btn-primary">
        SignUp
    </button>
</form>